#printArea{display:none}
@media print{body>*:not(#printArea){display:none!important}#printArea{display:block!important}body{background:#fff!important}
.doc{box-shadow:none!important;margin:0!important;-webkit-print-color-adjust:exact;print-color-adjust:exact}
.doc.t58{width:54mm}.doc.t80{width:76mm}.doc.a4{width:210mm;min-height:297mm}.doc.a4.nobg{-webkit-print-color-adjust:economy;print-color-adjust:economy}.a4 .hd{-webkit-print-color-adjust:exact;print-color-adjust:exact}}
